<h1 class="display-4">Articles</h1>
<table class="table table-striped" style="border: 2px solid rgb(214, 211, 211); color: white;">
    <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Body</th>
            <th></th>

        </tr>
    </thead>
    <tbody>
        <% articles.forEach(function(article) { %>
            <tr>
                <td>
                    <%= article.id %>
                </td>
                <td>
                    <%= article.title %>
                </td>
                <td>
                    <%= article.body %>
                </td>
                <td>
                    <a href="/articles/edit/<%= article.id %>" class="btn btn-info">Edit</a>
                    <form action="delete/<%= article.id %>" class="d-inline" method="post">
                        <input type="submit" value="Delete" class="btn btn-danger">
                    </form>
                </td>
            </tr>
            <% }) %>
    </tbody>
</table>